{% extends 'base.html' %}

{% block content%}

<!-- Landing Page -->
<div class="landing">
    <div class="cover container-fluid">
        <div class="heading">
            <div class="row">
                <div class="col-md-7 title">
                    <p>BRINGING YOU <br> THE BEST NEWS STORIES</p>
                </div>
                <div class="col-md-5 pagetitle">
                    <p>NEWSHIGHLIGHT <br><strong>SOURCE {{name}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Body Section -->
<div class="container wrapper">
    <div class="row text">
        {% for article in articles%}
        <div class="col-sm-6 col-md-4">
            <div class="card article">
                <a href="{{article.url}}" target="_blank">
                    <img class="card-img-top" src="{{article.urlToImage}}" alt="Image of {{article.title}}">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="metadata">- {{article.author}}</p>
                    <p class="metadata">Posted on {{article.publishedAt}}</p>
                    <hr>
                    <p>{{article.description|truncate(200)}}...
                        <a href="{{article.url}}" target="_blank">View Article on site</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
