{% extends 'bootstrap/base.html'%}
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Home | New Highlights </title>
        {% endif %}
        <!-- Styles block -->

        {% block styles%}
            {{ super() }}
            <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
        {% endblock %}
    </head>
    <body>
        <!-- Navbar block  -->
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
        <!DOCTYPE html>
        <!-- Content block -->



    </body>
</html>
