{% extends 'base.html'%}
{% import 'macros.html' as macro %}


<!-- Content block -->
{% block content %}
        <h3>General News</h3>
                <ul>
            {{macro.displayNewsourceList(general)}}
        </ul>
        <h3>Business</h3>
        <ul>
            {{macro.displayNewsourceList(business)}}
        </ul>
        <h3>Technology</h3>
        <ul>
            {{macro.displayNewsourceList(technology)}}
        </ul>
        <h3>Sports</h3>
        <ul>
            {{macro.displayNewsourceList(sports)}}
        </ul>
        <h3>Entertainment</h3>
        <ul>
            {{macro.displayNewsourceList(entertainment)}}
        </ul>
        <h3>Science</h3>
        <ul>
            {{macro.displayNewsourceList(science)}}
        </ul>
{% endblock%}
