{% macro displayNewsourceList(newsource_list)%}
<div class="container-fluid">
    <div class="row">
    {% for newsource in newsource_list %}


            <div class="col-md-4">
                <p>
                    {{newsource.name}}
                    <span>
                        <a href="{{newsource.url}}" target="_blank">see website</a>
                    </span>
                    <p>{{newsource.description|truncate(150)}}</p>
                    <a href="/articles/{{newsource.id}}&40">View Articles</a>
                </p>
            </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}
