<nav class="navbar navbar-expand-lg navbar-light fixed-top opaque-navbar">
  <a class="navbar-brand" href="/">News Highlights</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-3" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topheadlines&40">Top Headline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/everything&40">All Articles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/#general">General</a>
          <a class="dropdown-item" href="/#business">Business</a>
          <a class="dropdown-item" href="/#technology">Technology</a>
          <a class="dropdown-item" href="/#sports">Sports</a>
          <a class="dropdown-item" href="/#entertainment">Entertainment</a>
          <a class="dropdown-item" href="/#science">Science</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
