<nav class="navbar navbar-expand-lg navbar-light fixed-top opaque-navbar opaque">
  <a class="navbar-brand" href="/"><h2 class = "brand" >NH</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-3" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topheadlines&40">Top Headline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/everything&40">All Articles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/#general">General</a>
          <a class="dropdown-item" href="/#business">Business</a>
          <a class="dropdown-item" href="/#technology">Technology</a>
          <a class="dropdown-item" href="/#sports">Sports</a>
          <a class="dropdown-item" href="/#entertainment">Entertainment</a>
          <a class="dropdown-item" href="/#science">Science</a>
        </div>
      </li>
      <form class="form-inline my-2 my-lg-0 search">
          <input class="form-control mr-sm-2 " type="text" name="article_query" placeholder="Search Articles"aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0 sub_icon" type="submit" value="Submit"><i class="fas fa-search"></i></button>
      </form>
    </ul>
  </div>
</nav>
